<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>workers world</title>
</head>
<header>
    <div class="head">
        <img src="static/media/1.jpeg" alt="Image 1" class="head-img">
        <h2>Workers World</h2>
        <img src="static/media/2.jpeg" alt="Image 2" class="head-img">
    </div>
    <div class="nav">
        <button type="submit" class="btn"><a href="login.html">Login</a></button>
        <button type="submit" class="btn"><a href="register.html">User Register</a></button>
        <button type="submit" class="btn"><a href="employee_register.html">Employee Register</a></button>
    </div>
</header>
<body>
    <section>
        <div class="container">
            <h1>Electriction</h1>
            <div class="eslider">
                <img src="static/media/1.jpeg" alt="Image 1" class="eslide">
                <img src="static/media/2.jpeg" alt="Image 2" class="eslide">
                <img src="static/media/3.jpeg" alt="Image 3" class="eslide">
                <img src="static/media/4.jpeg" alt="Image 4" class="eslide">
                <img src="static/media/5.jpeg" alt="Image 5" class="eslide">
            </div>
        </div>

        <div class="container">
            <h1>plumber</h1>
            <div class="pslider">
                <img src="static/media/1.jpeg" alt="Image 1" class="pslide">
                <img src="static/media/2.jpeg" alt="Image 2" class="pslide">
                <img src="static/media/3.jpeg" alt="Image 3" class="pslide">
                <img src="static/media/4.jpeg" alt="Image 4" class="pslide">
                <img src="static/media/5.jpeg" alt="Image 5" class="pslide">
            </div>
        </div>
        <div class="container">
            <h1>Carpenter</h1>
            <div class="cslider">
                <img src="static/media/1.jpeg" alt="Image 1" class="cslide">
                <img src="static/media/2.jpeg" alt="Image 2" class="cslide">
                <img src="static/media/3.jpeg" alt="Image 3" class="cslide">
                <img src="static/media/4.jpeg" alt="Image 4" class="cslide">
                <img src="static/media/5.jpeg" alt="Image 5" class="cslide">
            </div>
        </div>

        <div class="container">
            <h1>Teacher</h1>
            <div class="tslider">
                <img src="static/media/1.jpeg" alt="Image 1" class="tslide">
                <img src="static/media/2.jpeg" alt="Image 2" class="tslide">
                <img src="static/media/3.jpeg" alt="Image 3" class="tslide">
                <img src="static/media/4.jpeg" alt="Image 4" class="tslide">
                <img src="static/media/5.jpeg" alt="Image 5" class="tslide">
            </div>
        </div>

    </section>
    <section>
        <div class="container">
            <h1>Driver</h1>
            <div class="dslider">
                <img src="static/media/1.jpeg" alt="Image 1" class="dslide">
                <img src="static/media/2.jpeg" alt="Image 2" class="dslide">
                <img src="static/media/3.jpeg" alt="Image 3" class="dslide">
                <img src="static/media/4.jpeg" alt="Image 4" class="dslide">
                <img src="static/media/5.jpeg" alt="Image 5" class="dslide">
            </div>
        </div>

        <div class="container">
            <h1>Painter</h1>
            <div class="paslider">
                <img src="static/media/1.jpeg" alt="Image 1" class="paslide">
                <img src="static/media/2.jpeg" alt="Image 2" class="paslide">
                <img src="static/media/3.jpeg" alt="Image 3" class="paslide">
                <img src="static/media/4.jpeg" alt="Image 4" class="paslide">
                <img src="static/media/5.jpeg" alt="Image 5" class="paslide">
            </div>
        </div>

        <div class="container">
            <h1>Construction</h1>
            <div class="cuslider">
                <img src="static/media/1.jpeg" alt="Image 1" class="cuslide">
                <img src="static/media/2.jpeg" alt="Image 2" class="cuslide">
                <img src="static/media/3.jpeg" alt="Image 3" class="cuslide">
                <img src="static/media/4.jpeg" alt="Image 4" class="cuslide">
                <img src="static/media/5.jpeg" alt="Image 5" class="cuslide">
            </div>
        </div>

        <div class="container">
            <h1>Labour</h1>
            <div class="lslider">
                <img src="static/media/1.jpeg" alt="Image 1" class="lslide">
                <img src="static/media/2.jpeg" alt="Image 2" class="lslide">
                <img src="static/media/3.jpeg" alt="Image 3" class="lslide">
                <img src="static/media/4.jpeg" alt="Image 4" class="lslide">
                <img src="static/media/5.jpeg" alt="Image 5" class="lslide">
            </div>
        </div>
    </section>

    <script src="static/js/eslider.js"></script>
    <script src="static/js/pslider.js"></script>
    <script src="static/js/cslider.js"></script>
    <script src="static/js/tslider.js"></script>
    <script src="static/js/dslider.js"></script>
    <script src="static/js/paslider.js"></script>
    <script src="static/js/cuslider.js"></script>
    <script src="static/js/lslider.js"></script>
    
</body>
<footer>

</footer>
</html>