body {
    font-family: Arial, sans-serif;
    background-color: rgb(161, 249, 180);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: rgb(238, 34, 34); 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #000000; 
}

p {
    color: #ffffff;
}

