<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form action="{% url 'login' %}" method="POST">  <!-- Corrected action to use Django's URL name -->
            {% csrf_token %}
            <div class="form-group">
                <input type="checkbox" id="login_as_employee" name="login_as_employee">
                <label for="login_as_employee">Login as Employee mark it go thwough the adhar only</label>
                
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username"><br>

                <label for="adhar_number">Aadhaar Number</label>
                <input type="text" id="adhar_number" name="adhar_number" placeholder="Enter your Aadhaar number"><br>

               

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</body>
</html>